<div class="user-detail-list container">
    <div class="user-details-list" *ngIf="!isEdit">
        <div class="card">
            <div class="card-header font-weight-bold">
                Group detail
            </div>
            <div class="card-body">
                <ul class="list-group">
                    <li class="list-group-item">File name: {{selectedFileCredentials.name}}</li>
                    <li class="list-group-item">File path: {{selectedFileCredentials.path}}</li>
                    <li class="list-group-item">File owner: {{selectedFileCredentials.owner}}</li>
                    <li class="list-group-item">File group: {{selectedFileCredentials.group}}</li>
                    <li class="list-group-item">File mode: {{selectedFileCredentials.mode}}</li>
                    <li class="list-group-item">File date: {{selectedFileCredentials.date}}</li>
                    <li class="list-group-item">File is writable: {{selectedFileCredentials.writable}}</li>
                </ul>
            </div>
        </div>
    </div>
    <div>
        <br>
        <button class="btn btn-success user-details-buttons" [routerLink]="'/file-explorer'">Back</button>
    </div>
</div>
