<div class="card-deck">
    <div class=" col-12">
        <div class="card">
            <div class="card-header  font-weight-bold">
                Selected file content:
            </div>
            <div class="card-body" *ngIf="!isEdit">
                <label>{{openedFile.name}}</label>
                <label>isBinary: {{isBinary}}</label>
                <pre>
                    <code [highlight]="originalContent" [lineNumbers]="true"></code>
                </pre>
                <button class="btn btn-success" (click)="onClose()">Close</button>
                <button class="btn btn-success" (click)="onEdit()">Edit</button>
                <button class="btn btn-success" (click)="eval()">Eval</button>
                <button class="btn btn-success" (click)="onDownload()">
                    <a [href]="fileUrl" download="{{openedFile.name}}">Download</a>
                </button>
            </div>
            <div class="card-body" *ngIf="isEdit">
                <label for="textarea">{{openedFile.name}}</label>
                <label>isBinary: {{isBinary}}</label>
                <textarea id="textarea" [(ngModel)]="editedContent" rows="4"></textarea>
                <button class="btn btn-success" (click)="onClose()">Close</button>
                <button class="btn btn-success" (click)="onSave()">Save</button>
            </div>
        </div>
    </div>
</div>
