<div class="container-fluid">
    <div class="card-deck">
        <div class="col-4">
            <div class="card">
                <div class="card-header  font-weight-bold">
                    Add Group
                </div>
                <div class="card-body">
                    <app-exist-add-group></app-exist-add-group>
                </div>
            </div>
        </div>
        <div class=" col-8">
            <div class="card">
                <div class="card-header  font-weight-bold">
                    eXsit-DB Groups
                </div>
                <div class="card-body">
                    <app-exist-group-list></app-exist-group-list>
                </div>
            </div>
        </div>
    </div>
</div>
