<h4 style="text-align: center">Create File</h4>
<div class="container">
    <div class="card-deck">
        <div class="card">
            <div class="card-header  font-weight-bold">
                Insert content here:
            </div>
            <div class="card-body">
                <label>Will save here: {{selectedPath}}</label>
                <label>File content:
                    <textarea [(ngModel)]="textValue" rows="4"></textarea>
                </label>
                <label>File name:
                    <input  type="text" [(ngModel)]="fileName">
                </label>
                <button [disabled]="(textValue == '') ? 'disabled' : ''" class="btn btn-primary font-weight-bold" (click)="sendText()">Save</button>
                <button class="btn btn-primary font-weight-bold" (click)="back()">Back</button>
            </div>
        </div>
    </div>
</div>
