<div class="container-fluid">

  <div class="card-deck">
    <div class="col-4">
      <div class="card">
        <div class="card-header  font-weight-bold">
          Add User
        </div>
        <div class="card-body">
          <app-exist-add-user></app-exist-add-user>
        </div>
      </div>
    </div>
    <div class=" col-8">
      <div class="card">
        <div class="card-header  font-weight-bold">
          eXsit-DB Users List
        </div>
        <div class="card-body">
          <app-exist-users-list></app-exist-users-list>
        </div>
      </div>
    </div>

    <div class=" col-8">
      <div class="card">
        <div class="card-header  font-weight-bold">
          eXsit-DB Users List
        </div>
        <div class="card-body">
          <app-exist-group-list></app-exist-group-list>
        </div>
      </div>
    </div>
  </div>
</div>
