<div class="user-add-form">
    <form [formGroup]="addUsrForm" class="text-center border border-light p-5">
        <h4>Add user</h4>
        <div class="form-group">
            <mat-form-field>
                <label for="username" class="control-label">Username</label>
                <input matInput id="username" type="text" class="form-control" formControlName="username">
            </mat-form-field>
            <mat-error *ngIf="username.invalid && username.touched">
                Username is required
            </mat-error>
        </div>

        <div class="form-group">
            <mat-form-field>
                <label for="password" class="control-label">Password</label>
                <input matInput id="password" type="text" class="form-control" formControlName="password">
            </mat-form-field>
            <mat-error *ngIf="password.invalid && password.touched">
                Password name is required
            </mat-error>
        </div>

        <div class="form-group">
            <mat-form-field>
                <label for="primaryGroup" class="control-label">Primary Group</label>
                <mat-select id="primaryGroup" class="form-control" formControlName="primaryGroup">
                    <mat-option *ngFor="let group of existGroups" [value]="group">
                        {{group}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-error *ngIf="primaryGroup.invalid && primaryGroup.touched">
                Primary Group name is required
            </mat-error>
        </div>

        <div class="form-group">
            <mat-form-field>
                <label for="groups" class="control-label">groups</label>
                <mat-select id="groups" class="form-control" formControlName="groups"  multiple>
                    <mat-option *ngFor="let group of existGroups" [value]="group">
                        {{group}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-error *ngIf="primaryGroup.invalid && primaryGroup.touched">
                One group is required
            </mat-error>
        </div>

        <div class="form-group">
            <mat-form-field>
                <label for="fullName" class="control-label">Full Name</label>
                <input matInput id="fullName" type="text" class="form-control" formControlName="fullName">
            </mat-form-field>
            <mat-error *ngIf="fullName.invalid && fullName.touched">
                Full Name is required
            </mat-error>
        </div>

        <div class="form-group">
            <mat-form-field>
                <label for="desc" class="control-label">Description</label>
                <input matInput id="desc" type="desc" class="form-control" formControlName="desc">
            </mat-form-field>
            <mat-error *ngIf="desc.invalid && desc.touched">
                Password is required
            </mat-error>
        </div>

        <div>
            <button class="btn btn-primary font-weight-bold" [mat-dialog-close]="addUsrForm.value" [disabled]="addUsrForm.invalid">Add</button>
            <button  class="btn btn-primary" (click)="onNoClick()">No Thanks</button>
        </div>
    </form>
</div>
