<div class="container-fluid">
    <div class="card-deck">
        <div class=" col-12">
            <div class="card">
                <div class="card-header  font-weight-bold">
                    Collection manager
                </div>
                <div class="card-body loading" *ngIf="isLoading$ | async">
                    <mat-spinner></mat-spinner>
                </div>
                <div class="card-body" *ngIf="!(isLoading$ | async)">
                    <div>
                        <button class="btn btn-success rootButton" (click)="backToRoot()">Back To Root</button>
                        <button class="btn btn-success rootButton" (click)="newXquery(selectedDirectory)" [disabled]="false">New XQuery
                        </button>
                        <button class="btn btn-success rootButton" (click)="newResource(selectedDirectory)" [disabled]="false">New
                        </button>
                        <button class="btn btn-success rootButton" (click)="createDir(selectedDirectory)">Create collection
                        </button>
                        <div class="user-list-table">
                            <mat-table class="table-bordered table-responsive" [dataSource]="collections" matSort>

                                <ng-container matColumnDef="name">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header>Name</mat-header-cell>
                                    <mat-cell *matCellDef="let element">
                                        <label *ngIf="!element.resource; else elseBlock">
                                            <a (click)="aClick(element.name)">{{element.name}}</a>
                                        </label>
                                        <ng-template #elseBlock>
                                            <label>
                                                <a (click)="view(element)">{{element.name}}</a>
                                            </label>
                                        </ng-template>
                                    </mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="resource">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header>Resource</mat-header-cell>
                                    <mat-cell *matCellDef="let element">
                                        <div *ngIf="!element.resource">
                                            <label *ngIf="element.name !== '..'">Directory</label>
                                        </div>
                                        <label *ngIf="element.resource">Resource</label>
                                    </mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="owner">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header>owner</mat-header-cell>
                                    <mat-cell *matCellDef="let element">
                                        <label>{{element.owner}}</label>
                                    </mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="group">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header>group</mat-header-cell>
                                    <mat-cell *matCellDef="let element">
                                        <label>{{element.group}}</label>
                                    </mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="mode">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header>mode</mat-header-cell>
                                    <mat-cell *matCellDef="let element">
                                        <label>{{element.mode}}</label>
                                    </mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="date">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header>date</mat-header-cell>
                                    <mat-cell *matCellDef="let element">
                                        <label>{{element.date}}</label>
                                    </mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="view">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header>View</mat-header-cell>
                                    <mat-cell *matCellDef="let element">
                                        <button class="btn btn-success" *ngIf="element.resource" (click)="view(element)">
                                            View
                                        </button>
                                    </mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="delete">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header>Delete</mat-header-cell>
                                    <mat-cell *matCellDef="let element">
                                        <button class="btn btn-danger" *ngIf="element.resource" (click)="deleteRes(element)">
                                            Delete
                                        </button>
                                        <button class="btn btn-danger" *ngIf="!element.resource && element.name !== '..'"
                                                (click)="deleteColl(element)">
                                            Delete
                                        </button>
                                    </mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="editCredentials">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header>Edit Credentials</mat-header-cell>
                                    <mat-cell *matCellDef="let element">
                                        <button class="btn btn-success" *ngIf="element.name !== '..'"
                                                (click)="editCredentials(element)">
                                            Edit Credentials
                                        </button>
                                    </mat-cell>
                                </ng-container>

                                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                                <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                            </mat-table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



