<div class="container-fluid">
    <div class="card-deck">
        <div class=" col-12">
            <div class="card">
                <div class="card-header  font-weight-bold">
                    Collection manager
                </div>
                <div class="card-body loading" *ngIf="isLoading$ | async">
                    <mat-spinner></mat-spinner>
                </div>
                <div class="card-body" *ngIf="!(isLoading$ | async)">
                    <button class="btn btn-success rootButton" (click)="backToRoot()">Back To Root</button>

                    <button class="btn btn-success rootButton" (click)="createFileHere(selectedDirectory)" [disabled]="true">Create resource
                    </button>

                    <button class="btn btn-success rootButton" (click)="createDir(selectedDirectory)">Create collection
                    </button>

                    <table mat-table [dataSource]="collections" class="mat-elevation-z8">
                        <ng-container matColumnDef="name">
                            <th mat-header-cell *matHeaderCellDef>Name</th>
                            <td mat-cell *matCellDef="let element">
                                <label *ngIf="!element.resource; else elseBlock">
                                    <a (click)="aClick(element.name)">{{element.name}}</a>
                                </label>
                                <ng-template #elseBlock>
                                    <label>
                                        <a (click)="view(element)">{{element.name}}</a>
                                    </label>
                                </ng-template>
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="resource">
                            <th mat-header-cell *matHeaderCellDef>Resource</th>
                            <td mat-cell *matCellDef="let element">
                                <div *ngIf="!element.resource">
                                    <label *ngIf="element.name !== '..'">Directory</label>
                                </div>
                                <label *ngIf="element.resource">Resource</label>
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="owner">
                            <th mat-header-cell *matHeaderCellDef>owner</th>
                            <td mat-cell *matCellDef="let element">
                                <label>{{element.owner}}</label>
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="group">
                            <th mat-header-cell *matHeaderCellDef>group</th>
                            <td mat-cell *matCellDef="let element">
                                <label>{{element.group}}</label>
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="mode">
                            <th mat-header-cell *matHeaderCellDef>mode</th>
                            <td mat-cell *matCellDef="let element">
                                <label>{{element.mode}}</label>
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="date">
                            <th mat-header-cell *matHeaderCellDef>date</th>
                            <td mat-cell *matCellDef="let element">
                                <label>{{element.date}}</label>
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="writable">
                            <th mat-header-cell *matHeaderCellDef>writable</th>
                            <td mat-cell *matCellDef="let element">
                                <label *ngIf="element.resource">{{element.writable}}</label>
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="view">
                            <th mat-header-cell *matHeaderCellDef>View</th>
                            <td mat-cell *matCellDef="let element">
                                <button class="btn btn-success" *ngIf="element.resource" (click)="view(element)">
                                    View
                                </button>
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="delete">
                            <th mat-header-cell *matHeaderCellDef>Delete</th>
                            <td mat-cell *matCellDef="let element">
                                <button class="btn btn-danger" *ngIf="element.resource" (click)="deleteRes(element)">
                                    Delete
                                </button>
                                <button class="btn btn-danger" *ngIf="!element.resource && element.name !== '..'"
                                        (click)="deleteColl(element)">
                                    Delete
                                </button>
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="editCredentials">
                            <th mat-header-cell *matHeaderCellDef>Edit Credentials</th>
                            <td mat-cell *matCellDef="let element">
                                <button class="btn btn-success" *ngIf="element.resource"
                                        (click)="editCredentials(element)">
                                    Edit Credentials
                                </button>
                            </td>
                        </ng-container>

                        <!--                        <ng-container matColumnDef="download">-->
                        <!--                            <th mat-header-cell *matHeaderCellDef>Download</th>-->
                        <!--                            <td mat-cell *matCellDef="let element">-->
                        <!--                                <button class="btn btn-success" *ngIf="element.resource"-->
                        <!--                                        (click)="downloadResource(element)">-->
                        <!--                                    <a [href]="fileUrl" download="{{downloadedFileName}}">Download</a>-->
                        <!--                                </button>-->
                        <!--                            </td>-->
                        <!--                        </ng-container>-->

                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>



