<div>
    <button class="btn btn-success add-button " (click)="addGroup()">Add group</button>
    <div class="user-list-table">
        <mat-table class="table-bordered table-responsive" [dataSource]="GroupsData" matSort>

            <ng-container matColumnDef="groupName">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Name</mat-header-cell>
                <mat-cell *matCellDef="let post"> {{post.groupName}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="groupManager">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Group Manager</mat-header-cell>
                <mat-cell *matCellDef="let post"> {{post.groupManager}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="desc">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Description</mat-header-cell>
                <mat-cell *matCellDef="let post"> {{post.desc}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="details">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Details</mat-header-cell>
                <mat-cell *matCellDef="let post">
                    <button class="btn btn-success" (click)="details(post)">Detail
                    </button>
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="delete">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Delete</mat-header-cell>
                <mat-cell *matCellDef="let post">
                    <button class="btn btn-danger" (click)="delete(post.groupName)" *ngIf="!post.default">Delete
                    </button>
                    <label *ngIf="post.default">DEFAULT</label>
                </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>
        <mat-paginator #paginator [pageSize]="10" [pageSizeOptions]="[5,10,20]"></mat-paginator>
        <div class="loading" *ngIf="isLoading$ | async">
            <div class="text-center">
                <div class="spinner-border" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
            </div>
        </div>
    </div>
</div>
