<div class="card-deck">
    <div class=" col-12">
        <div class="card">
            <div class="card-header  font-weight-bold">
                Changes:
            </div>
            <div class="card-body">
                <label></label>
                <pre>
                    <code [highlight]="data.res" [lineNumbers]="true"></code>
                </pre>
                <button class="btn btn-success" (click)="onClose()">Close</button>
            </div>
        </div>
    </div>
</div>
