<div class="user-detail-list container">
    <div class="user-details-list" *ngIf="!userDetailsEdit">
        <div class="card">
            <div class="card-header font-weight-bold">
                User detail
            </div>
            <div class="card-body">
                <ul class="list-group">
                    <li class="list-group-item">Username: {{selectedUser.username}}</li>
                    <li class="list-group-item">Full Name: {{selectedUser.fullName}}</li>
                    <li class="list-group-item">Umask: {{selectedUser.umask}}</li>
                    <li class="list-group-item">Primary group: {{selectedUser.primaryGroup}}</li>
                    <li class="list-group-item">Description: {{selectedUser.desc}}</li>
                    <li class="list-group-item">Roles:
                        <ul>
                            <li *ngFor="let groups of selectedUser.groups">{{groups}}</li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="user-details-edit" *ngIf="userDetailsEdit">
        <div class="card">
            <div class="card-header font-weight-bold">
                User detail
            </div>
            <div class="card-body">
                <form [formGroup]="editUsrForm" >
                <div class="form-group">
                    <mat-form-field>
                        <label for="username" class="control-label">Username</label>
                        <input matInput id="username" type="text" class="form-control" formControlName="username">
                    </mat-form-field>
                    <mat-error *ngIf="username.invalid && username.touched">
                        Username is required
                    </mat-error>
                </div>

                <div class="form-group">
                    <mat-form-field>
                        <label for="primaryGroup" class="control-label">Primary Group</label>
                        <mat-select id="primaryGroup" class="form-control" formControlName="primaryGroup">
                            <mat-option *ngFor="let group of existGroups" [value]="group">
                                {{group}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-error *ngIf="primaryGroup.invalid && primaryGroup.touched">
                        Primary Group name is required
                    </mat-error>
                </div>

                <div class="form-group">
                    <mat-form-field>
                        <label for="groups" class="control-label">groups</label>
                        <mat-select id="groups" class="form-control" formControlName="groups"  multiple>
                            <mat-option *ngFor="let group of existGroups" [value]="group">
                                {{group}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-error *ngIf="primaryGroup.invalid && primaryGroup.touched">
                        One group is required
                    </mat-error>
                </div>

                <div class="form-group">
                    <mat-form-field>
                        <label for="fullName" class="control-label">Full Name</label>
                        <input matInput id="fullName" type="text" class="form-control" formControlName="fullName">
                    </mat-form-field>
                    <mat-error *ngIf="fullName.invalid && fullName.touched">
                        Full Name is required
                    </mat-error>
                </div>

                <div class="form-group">
                    <mat-form-field>
                        <label for="desc" class="control-label">Description</label>
                        <input matInput id="desc" type="desc" class="form-control" formControlName="desc">
                    </mat-form-field>
                    <mat-error *ngIf="desc.invalid && desc.touched">
                        Description is required
                    </mat-error>
                </div>

                    <div class="form-group">
                        <mat-form-field>
                            <label for="umask" class="control-label">umask</label>
                            <input matInput id="umask" type="umask" class="form-control" formControlName="umask">
                        </mat-form-field>
                        <mat-error *ngIf="umask.invalid && umask.touched">
                            umask is required
                        </mat-error>
                    </div>
                    <div class="form-group">
                        <mat-form-field>
                            <label for="password" class="control-label">Password</label>
                            <input matInput id="password" type="password" class="form-control" formControlName="password">
                        </mat-form-field>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div>
        <br>
        <button class="btn btn-success user-details-buttons" [routerLink]="'/user-manager-module'">Back</button>
        <button class="btn btn-success user-details-buttons" (click)="userDetailsEdit = true" *ngIf="!userDetailsEdit">
            Edit
        </button>
        <button class="btn btn-success user-details-buttons" (click)="userDetailsEdit = false; save()"
                *ngIf="userDetailsEdit">Save
        </button>
    </div>
</div>
