<div class="container p-3">
  <div class="offset-3 col-6">
    <h1>eXist-DB Administration</h1>
    <div class="card">
      <div class="card-header  font-weight-bold">
        Login Form
      </div>
      <div class="card-body">
        <form [formGroup]="loginForm" (submit)="submit()" class="text-center border border-light p-5">

          <div class="form-group">
            <mat-form-field>
              <label for="username" class="control-label"></label>
              <input matInput id="username" type="text" class="form-control" placeholder="username"
                     formControlName="username">
              <mat-error *ngIf="username.invalid && username.touched">
                Username is required
              </mat-error>
            </mat-form-field>
          </div>

          <div class="form-group">
            <mat-form-field>
              <label for="password" class="control-label"></label>
              <input matInput id="password" type="password" class="form-control" placeholder="password"
                     formControlName="password">
              <mat-error *ngIf="password.invalid && password.touched">
                Password is required
              </mat-error>
            </mat-form-field>
          </div>

          <div class="form-group">
            <mat-form-field>
              <label for="url" class="control-label"></label>
              <input matInput id="url" type="text" class="form-control" placeholder="url"
                     formControlName="url">
              <mat-error *ngIf="url.invalid && url.touched">
                Username is required
              </mat-error>
            </mat-form-field>
          </div>

          <div class="errorMessage">
            <div *ngIf="errorMessage" class="alert alert-danger">{{errorMessage}}</div>
          </div>

          <div class="loading" *ngIf="isLoading$ | async">
            <mat-spinner></mat-spinner>
          </div >
          <div class="login_button" *ngIf="!(isLoading$ | async)">
            <button class="btn btn-primary font-weight-bold" [disabled]="loginForm.invalid">Login</button>
          </div>
        </form>
      </div>
    </div>
    <div>
      <label>Admin login:</label>
      <label>username: admin</label>
      <label>password: </label>
    </div>
  </div>
</div>
