<div class="user-detail-list container">
    <div class="user-details-list" *ngIf="!isEdit">
        <div class="card">
            <div class="card-header font-weight-bold">
                Credentials
            </div>
            <div class="card-body">
                <ul class="list-group">
                    <li class="list-group-item">File name: {{data.res.name}}</li>
                    <li class="list-group-item">File path: {{data.res.path}}</li>
                    <li class="list-group-item">File owner: {{data.res.owner}}</li>
                    <li class="list-group-item">File group: {{data.res.group}}</li>
                    <li class="list-group-item">File mode: {{data.res.mode}}</li>
                    <li class="list-group-item">File date: {{data.res.date}}</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="user-details-edit" *ngIf="isEdit">
        <div class="card">
            <div class="card-header font-weight-bold">
                Credentials
            </div>
            <div class="card-body">
                <form [formGroup]="editFileForm">
                    <div class="form-group">
                        <mat-form-field>
                            <label for="name" class="control-label">name</label>
                            <input matInput id="name" type="text" class="form-control" formControlName="name"
                                   [readonly]=true>
                        </mat-form-field>
                        <mat-error *ngIf="name.invalid && name.touched">
                            Name is required
                        </mat-error>
                    </div>

                    <div class="form-group">
                        <mat-form-field>
                            <label for="path" class="control-label">path</label>
                            <input matInput id="path" type="text" class="form-control" formControlName="path"
                                   [readonly]=true>
                        </mat-form-field>
                        <mat-error *ngIf="path.invalid && path.touched">
                            Path is required
                        </mat-error>
                    </div>

                    <div class="form-group">
                        <mat-form-field>
                            <label for="owner" class="control-label">owner</label>
                            <mat-select id="owner" class="form-control" formControlName="owner">
                                <mat-option *ngFor="let user of existUsers" [value]="user">
                                    {{user}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-error *ngIf="owner.invalid && owner.touched">
                            Owner is required
                        </mat-error>
                    </div>

                    <div class="form-group">
                        <mat-form-field>
                            <label for="group" class="control-label">group</label>
                            <mat-select id="group" class="form-control" formControlName="group">
                                <mat-option *ngFor="let group of existGroups" [value]="group">
                                    {{group}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-error *ngIf="group.invalid && group.touched">
                            Manager is required
                        </mat-error>
                    </div>

                    <div class="form-group">
                        <mat-form-field>
                            <label for="mode" class="control-label">mode</label>
                            <input matInput id="mode" type="text" class="form-control" formControlName="mode">
                        </mat-form-field>
                        <mat-error *ngIf="mode.invalid && mode.touched">
                            Mode is required
                        </mat-error>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div>
        <br>
        <button class="btn btn-success user-details-buttons" (click)="onClose()">Back</button>
        <button class="btn btn-success user-details-buttons" (click)="isEdit = true" *ngIf="!isEdit">
            Edit
        </button>
        <button class="btn btn-success user-details-buttons" [mat-dialog-close]="editFileForm.value"
                *ngIf="isEdit">Save
        </button>
    </div>
</div>
