
<h4 style="text-align: center">Create File</h4>
<div class="container">
    <div class="card-deck">
        <div class="card">
            <div class="card-header  font-weight-bold">
                Insert content here:
            </div>
            <div class="card-body">

                <table mat-table [dataSource]="collections" class="mat-elevation-z8">
                    <ng-container matColumnDef="name">
                        <th mat-header-cell *matHeaderCellDef>Name</th>
                        <td mat-cell *matCellDef="let element">
                            <label *ngIf="!element.resource;">
                                <a (click)="aClick(element.name)">{{element.name}}</a>
                            </label>
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="resource">
                        <th mat-header-cell *matHeaderCellDef>Resource</th>
                        <td mat-cell *matCellDef="let element">
                            <div *ngIf="!element.resource">
                                <label *ngIf="element.name !== '..'">Directory</label>
                            </div>
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>

                <button class="btn btn-success" (click)="onNoClick()">No Thanks</button>
                <button class="btn btn-success" [mat-dialog-close]="selectedDirectory" cdkFocusInitial>Ok</button>
            </div>
        </div>
    </div>
</div>
