<div class="card-deck">
    <div class=" col-12">
        <div class="card">
            <div class="card-header  font-weight-bold">
                Selected file content:
            </div>
            <div class="card-body">
                <label>{{data.path + '/' + data.name}}</label>
                <pre>
                    <code [highlight]="selectedResHistory" [lineNumbers]="true"></code>
                </pre>
                <button class="btn btn-success" (click)="onClose()">Close</button>
                <button class="btn btn-success" [mat-dialog-close]="ok">Ok</button>
            </div>
        </div>
    </div>
</div>
