<div *ngIf="isLoggedIn$ | async as isLoggedIn">
  <h1>eXist-DB Administration</h1>
  <nav class="navbar navbar-expand-lg navbar-light">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" mat-button [routerLink]="'/home'"><h2>Home</h2></a>
        </li>
        <li class="nav-item active">
        <a class="nav-link" mat-button [routerLink]="'/user-manager-module'"><h2>User Manager</h2></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" mat-button [routerLink]="'/exist-group-manager'"><h2>Group Manager</h2></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" mat-button [routerLink]="'/xml2xsd'"><h2>XSD Generator from XML</h2></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" mat-button [routerLink]="'/file-explorer'"><h2>File Explorer</h2></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" mat-button [routerLink]="'/trigger-manager'"><h2>Trigger Manager</h2></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" mat-button [routerLink]="'/version-management'"><h2>Version Management</h2></a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <a class="nav-link" mat-button (click)="onLogout()" *ngIf="isLoggedIn"><h2>Logout</h2></a>
      </form>
    </div>
  </nav>
</div>




