<div class="card-deck">
    <div class=" col-12">
        <div class="card">
            <div class="card-header  font-weight-bold">
                Selected trigger content:
            </div>
            <div class="card-body loading" *ngIf="isLoading$ | async">
                <div class="text-center">
                    <div class="spinner-border" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                </div>
            </div>
            <div *ngIf="!(isLoading$ | async)">
                <div class="card-body" *ngIf="!isEdit">
                    <label>{{data.fileData.path + '/' + data.fileData.name}}</label>
                    <pre>
                    <code [highlight]="viewResult" [lineNumbers]="true"></code>
                </pre>
                    <button class="btn btn-success" (click)="onAddTrigger(data.fileData)">Add trigger</button>
                    <button class="btn btn-success" (click)="onEdit()">Edit</button>
                    <button class="btn btn-success" (click)="onClose()">Close</button>
                </div>

                <div class="card-body" *ngIf="isEdit">
                    <label for="editor">{{data.fileData.name}}</label>
                    <label>isBinary: {{isBinary}}</label>
                    <textarea id="editor" [(ngModel)]="editedContent" rows="4"></textarea>
                    <button class="btn btn-success" (click)="onClose()">Close</button>
                    <button class="btn btn-success" (click)="onSave()">Save</button>
                </div>
            </div>
        </div>
    </div>
</div>
